{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1>
    This is our home page.
</h1>
<img class="bookcover" src="{% static 'images/dfp.jpg' %}">
{% if user.is_authenticated %}
<p> Hi {{ user.email }} </p>
<a href="{% url 'logout' %}">Log out here </a>
{% else %}
<p> you are not logged in </p>
<p>
    <a href="{% url 'login' %}"> Log in here </a>
    |
    <a href="{% url 'signup' %}"> Sign up here </a>
</p>
{% endif %}

{% endblock content %}